/* =============
    Hero
============= */
#hero{
    margin-top: 60px;
    
    section{
        h1{
            font-size: 50px;
            color:white;
        }
        
        
        }
       
    }


.blue-btn:hover{
    background-color: aliceblue;
    color: aqua;
}

