/* =============
   Plan
============= */
#plan{
    margin-top: 150px;

  
    grid-template-areas: ". main-content .";
    #main-grid-item{
        grid-area: main-content;

    }
  
    #plan-intro{
        text-align: center;
    }
    h3{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    

  
    
}


li{


    background-color: var(--white);
    text-align: center;
    padding: 0px;
    border-radius: 5px;
    border: 2px solid var(--light-grey)

   
    

}


ul{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;

li{

    display: inline-block;
    h1{
        margin-bottom: 30px;
       
    }
   
}
.purple{
    width: 100%;
    background-color: var(--purple);
    color: var(--white)
    
    

}
.grey{
    color: var(--grey);

}
.color{
    color: var(--grey);
}

}