/* =============
    Footer
============= */
footer{

   
    


    ul{

    
        li{
            margin-top: 10px;
          
            
            a{
        
                
                color: var(--grey);
                text-decoration: none;
                
            
            }
        }
    }
    #footer-top{
        padding: 80px 0;
        color: var(--grey);
        background-color: var(--navy-blue);
    }


    #footer-bottom{
        text-align: center;
        color: var(--grey);
        background-color: var(--navy-blue);
        padding: 30px 0;
       
    }
    section{
        h2{
            margin-bottom: 20px;
        }
    }

    form{
        input{
            color: var(--grey);
            background-color: var(--navy-blue);
            border-color: var(--grey);
            border-style: solid;
            border-radius: 2px;
        }
    }
}
