/* =============
    Header
============= */
header{
    padding: 22px;
    border-radius: 8px;
    margin-top: 20px;
    }
    nav{
        ul{
            li{
                a{
                 
                }

            }

            #Trial{
                a{
                background-color: var(--Aqua);
                color: var(--white);
                padding: 20px 28px;
                border-radius: 6px;
                }

            }
        }
    }

