/* =============
    Buttons
============= */
#change{
    color:beige;
    background-color: rgb(46, 147, 230);
    border: none;
    border-radius: 2px;
    height: 39px;
    width: 70px;
    padding: 0%;

}