/* =============
    Navigation
============= */
a{
    text-decoration: none;

}
nav{
    display: none;
    
    @include xl{
        display: block;
    }
    ul{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;

        @include xl{
            flex-direction: row;
        }
        li{

            @include xl{
                height: 100%;
            }

          
            }
            a:link, a:visited{
                padding: 15px;
                display: inline-block;
                margin-bottom: 12px;
                color: gray;
                transition: 0.25sec;

                @include xl{
                    height: 100%;
                }

               
               
               
                

            }
            a:hover, a:active{
                color: var(--black);
            }
            a.btns{
                background-color: var(--blue);
                color: var(--white);
                border-radius: 8px;
                padding: 12px;
                font-weight: 400;
                
            }
           

            }
        }

            
            
        
    
