/* =============
    Navigation
============= */

a{
    text-decoration: none;
}


nav{
    ul{
        display: flex;
        justify-content: flex-end;
        li{
            list-style: none;
            margin-left: 25px;
            a:link, a:visited{
                color:gainsboro;
                Font-size: rem-calc(20);
                font-size: 600;
                transition: 0.25s;

            }

            a:hover, a:active{
                color: aqua;
            

            }
        }
        #Trial{
            margin-left: 100px;
            margin-right: 150px;
        }
        
        }
            
            }
        

           
          


    
